{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container bg">
    <div class = 'card'>
    {% if user.is_authenticated %}
      <h2>Hi {{ user.first_name }}! Welcome to CloudWatch</h2>
      <h4>Click <a href="">here</a> to get started</h4>
    {% else %}
      <h2>Welcome to CloudWatch</h2>
      <a href="{% url 'users:signup' %}">Click here to signup</a>
    {% endif %}
    </div>
    <div class="bird-container bird-container--one">
        <div class="bird bird--one"></div>
    </div>
    
    <div class="bird-container bird-container--two">
        <div class="bird bird--two"></div>
    </div>
    
    <div class="bird-container bird-container--three">
        <div class="bird bird--three"></div>
    </div>
    
    <div class="bird-container bird-container--four">
        <div class="bird bird--four"></div>
    </div>
    </div>
{% endblock %}